body {
    background-color: #DBE2EF;
    color: black;
}

p {
    color: black;
}

.navbody {
    background-color: #274971;
}

.ellemant-coller-navbar {
    background-color: #9CB8D9;
    color: black;
}

.cards-body {
    background-color: #9CB8D9;
}

.selectbody {
    background-color: #9CB8D9;
}

.acoller:hover {
    color: #0d6efd;
}

.cards-layout {
    border-color: #112D4E;
}

.codefield {
    background-color: #9CB8D9;
}

#inputfields {
    background-color: #9CB8D9;
}

#button {
    background-color: #9CB8D9;
}

.footerkols {
    color: black !important;
}

.emiel {
    border-color: black !important;
}

#inputfields::placeholder {
    color: black;
}